.eq-page #main-content {
  margin: 20px;
}

.eq-page #main-content .eq-title-block {
  text-align: center;
}

.form--eq-artifact-filters {
  padding-top: 24px;
}

.eq-artifact-filters {
  display: flex;
  width: 786px;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0 20px 0;
}

.eq-artifact-filters .bp3-form-group,
.eq-artifact-filters .bp3-button {
  margin: 0;
  padding: 0;
}

.eq-artifact-filters .bp3-html-select.eq-select,
.eq-artifact-filters .eq-textfield {
  width: 300px;
}

.eq-artifact-filters .eq-button {
  width: 148px;
}

.eq-artifact-filters .eq-textfield .bp3-input-group {
  flex: auto;
}

.portfolio-actions {
  position: absolute;
  right: 0;
  margin: 0 20px;
}

.portfolio-actions button {
  margin: 0 10px;
}

.portfolio-actions button.accept {
  font-weight: bold;
}

.eq-artifact-filters.researcher-filters {
  width: auto;
  justify-content: flex-start;
}

.eq-artifact-filters.researcher-filters > * {
  margin-right: 20px;
}
