.bp3-html-select.eq-select select {
  border: 1px solid #757575;
  border-radius: 3px;
  padding: 16px 10px;
  height: 50px;
  background-color: #FFFFFF;
  box-shadow: unset;
}

.bp3-html-select.eq-select select option {
  font-size: 14px;
  line-height: 22px;
  color: #181818;
  background-color: transparent;
  padding: 8px 0;
  font-family: "Sophia Pro", Arial, Helvetica, sans-serif;
}

.bp3-html-select.eq-select .bp3-icon {
  top: 17px;
  right: 18px
}

.multi-select .bp3-popover-target {
  width: 100%;
}

.multi-select .bp3-button {
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-top: 2px;
  border: 1px solid #757575;
  border-radius: 3px;
}

.multi-select .bp3-button .bp3-icon {
  color: #2774ae;
}
